@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{
    margin: 0 auto;
}
body{
    width: 100%;
    height: auto;
    background-color: #379683;
}
.container{
	width: 100%;
	height: auto;
}
.header{
    width: 60%;
    text-align: center;
    padding: 20px;
    padding-top: 50px !important;
    color: #EDF5E1;
}
#welcome{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 32px;
}
.header button{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    font-size: 18px;
    margin: 30px;
    padding: 10px 100px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #EDF5E1;
    outline: none;
    border: none;
    border-radius: 5px;
}
.header button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #EDF5E1;
    outline: #165f50;
    border-radius: 5px;
}
#explain{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    display: none;
    margin: 30px;
    color: #edf5e1e0 !important;
}
.content{
    width: 60%;
    height: 1080px;
}
a{
    text-decoration: none;
    color: rgb(185, 0, 0);
}
#how{
    color: #edf5e1e0;
    font-size: 18px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    line-height: 37px;
}
#how #how_title{
    font-size: 24px !important;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
    color: #edf5e1e0;
}
#how span{
    font-size: 22px !important;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    color: #edf5e1e0;
}
#more_info{
    font-size: 22px !important;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    color: #edf5e1e0;
    line-height: 37px;
}
#more_info a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    color: #dee597e0;
}
.fasting_start_btn {
    width: 250px;
    height: 100px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.fasting_start_btn:hover {
    background-color: #165f50;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.footer{
	width: 100%;
	bottom: 0;
	left: 0;
	position: fixed; 
	height: 10%; 
	background-color: #165f50;
}
#download{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	height: 100%;
	margin-top: 1.3%;
}
#download a{
	text-decoration: none;
	color: #7dd3c2;
}